[submodule "instagram-dio"]
	path = instagram-dio
	url = git@github.com:danielprado-el/instagram-dio.git
[submodule "TypeScript-Desafios"]
	path = TypeScript-Desafios
	url = git@github.com:danielprado-el/Desafios-TS.git
[submodule "BookStore"]
	path = BookStore
	url = git@github.com:danielprado-el/BookStore-Front.git
