[submodule "instagram-dio"]
	path = instagram-dio
	url = git@github.com:danielprado-el/instagram-dio.git
[submodule "Desafios-TS"]
	path = Desafios-TS
	url = git@github.com:danielprado-el/Desafios-TS.git
