[submodule "instagram-dio"]
	path = instagram-dio
	url = git@github.com:danielprado-el/instagram-dio.git
[submodule "TypeScript-Desafios"]
	path = TypeScript-Desafios
	url = git@github.com:danielprado-el/Desafios-TS.git
[submodule "BookStore"]
	path = BookStore
	url = git@github.com:danielprado-el/BookStore-Front.git
[submodule "Banco-Digital"]
	path = Banco-Digital
	url = git@github.com:danielprado-el/Banco-Digital.git
[submodule "RickAndMorty-SpringBoot"]
	path = RickAndMorty-SpringBoot
	url = git@github.com:danielprado-el/RickAndMorty-SpringBoot.git
[submodule "Github-Api-Interface"]
	path = Github-Api-Interface
	url = git@github.com:danielprado-el/Github-Api-Interface.git
